.stats__section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.stats__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-left: 1.32rem;
  padding-right: 1.32rem;
}
@media screen and (min-width: 538px) {
  .stats__wrap {
    padding-left: 0.72rem;
    padding-right: 0.72rem;
  }
}
.stats__head {
  padding-top: 16px;
  padding-bottom: 16px;
}
.stats__nav {
  display: flex;
}
.stats__link {
  cursor: pointer;
  text-decoration: none;
  color: #cccccc;
}
.stats__link-icon {
  color: #cccccc;
  font-size: 20px;
}
.stats__link-active {
  color: #3a80ba;
}
.stats__title {
  padding-top: 24px;
  font-size: 32px;
  line-height: 39px;
}

#dt-table th {
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  color: #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid transparent;
  font-weight: 400 !important;
}
#dt-table {
  background: #3a80ba;
  border-radius: 8px;
}
#dt-table tbody {
  background: #ffffff;
  border-radius: 8px;
}
.even td {
  background: #f1f1f1;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.t-col0 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: center;
  width: 3.5555%;
}
.t-col1 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: left;
  width: 10%;
}
.t-col2 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: left;
  width: 10%;
}
.t-col3 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: left;
  width: 8.333%;
}
.t-col4 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: center;
  width: 6.1111%;
}
.t-col5 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: center;
  width: 8.3333%;
}
.t-col6 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: center;
  width: 10%;
}
.t-col7 {
  font-size: 16px;
  line-height: 20px;
  padding: 0.4rem !important;
  text-align: center;
  width: 13.333%;
  word-wrap: none !important;
}
.bottom {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}

.dataTables_paginate {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-flex;
  min-width: 1.5em;
  padding: 0;
  margin: 4px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #1a1a1a !important;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #f1f1f1 !important;
  border: 2px solid #3a80ba;
  background: #3a80ba !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #1a1a1a !important;
  border: 2px solid #3a80ba;
  background: transparent !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  cursor: default;
  color: #f1f1f1 !important;
  border: 2px solid #3a80ba;
  background: #3a80ba !important;
}
.paginate_button {
  box-sizing: border-box !important;
  width: 48px;
  height: 48px;
  font-size: 24px;
  padding: auto !important;
  padding-top: 2px;
}

.previous {
  padding: 0 !important;
  border: 2px solid transparent !important;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 48px;
  margin: 4px;
  height: 48px;
}
.next {
  padding: 0 !important;
  border: 2px solid transparent !important;
}
.paginate_button .material-icons {
  color: #3a80ba;
  font-size: 48px;
}
.disabled .material-icons {
  color: #f1f1f1;
}
